$background-color: black;
$primary-color: white;

// TEMPORARY CSS STYLING
html, body {
    background-color: $background-color;
    h1, p { color: $primary-color; }
    img {
        max-width: 45vw;
    }

    margin: 0;
    height: 100%;
}

.map-logo {
    position: fixed;
    z-index: 1;
}

.map-frame {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 0;

    &::after {
        background: url("../../public/images/map-overlay.png") no-repeat;
        background-size: 100% 100%;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        pointer-events: none;
    }

    .marker-icon {
        background-color: black;
    }
}

.blade {
    max-width: 35vw;
    min-width: 35vw;
    height: 85vh;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;

    background: rgba(218, 218, 218, 0.90) url("../../public/images/water-mark-for-blade.png") no-repeat bottom right;
    background-size: 60%;

    .close-button {
        position: relative;

    }

    .blade-image-container {
        padding: 25px 25px 10px 25px;

        img {
            max-width: 100%;
        }
    }

    .blade-content {
        padding: 0 25px 0 25px;

        h1 {
            font-family: 'Open Sans Light', sans-serif;
            font-weight: bold;
            letter-spacing: 20px;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            color: black;
        }

        p {
            color: black;
        }
    }
}