$background-color: black;
$primary-color: white;

// TEMPORARY CSS STYLING
html, body {
    background-color: $background-color;
    h1, p { color: $primary-color; }
    img {
        max-width: 45vw;
    }

    margin: 0;
    height: 100%;
}

.map-logo {
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

.map-frame {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 0;

    &::after {
        background: url("../../public/images/map-overlay.png") no-repeat;
        background-size: 100% 100%;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        pointer-events: none;
    }

    .marker-icon {
        background-color: black;
    }
}

.blade {
    max-width: 35vw;
    min-width: 35vw;
    height: 85vh;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0;

    background: rgba(218, 218, 218, 0.90) url("../../public/images/water-mark-for-blade.png") no-repeat bottom right;
    background-size: 60%;

    .close-button {
        position: absolute;
        right: 0;
        padding: 5px;

        span {
            color: black;
            text-decoration: none;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            transition: color 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: darkred;
            }

            &:active {
                color: darkgrey;
            }
        }
    }

    .blade-image-container {
        padding: 25px 25px 10px 25px;

        img {
            max-width: 100%;
        }
    }

    .blade-content {
        padding: 0 25px 0 25px;

        h1 {
            font-family: 'Open Sans Light', sans-serif;
            font-weight: bold;
            letter-spacing: 20px;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            color: black;
        }

        p {
            font-family: 'Times New Roman', serif;
            color: black;
        }
    }
}

.blade-enter {
    transform: translateX(-100%);
}

.blade-enter.blade-enter-active {
    transform: translateX(0);
    transition: transform 800ms ease-in-out;
}

.blade-leave {
    transform: translateX(0);
}

.blade-leave.blade-leave-active {
    transform: translateX(-100%);
    transition: transform 800ms ease-in-out;
}

.blade-appear {
    transform: translateX(-100%);
}

.blade-appear.blade-appear-active {
    transform: translateX(0);
    transition: transform 800ms ease-in-out;
}

@media screen and (max-width: 480px) {
    .map-logo {
        img {
            max-width: 100vw;
        }
    }

    .blade {
        max-width: 100vw;
        width: 100vw;

        overflow-y: scroll;
    }

    .blade-content {
        h1 {
            font-size: 15px;
            letter-spacing: 0;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .blade {
        max-width: 80vw;
        width: 80vw;
    }
}

@media screen and (min-width: 721px) and (max-width: 900px) {
    .blade {
        max-width: 70vw;
        width: 70vw;
    }
}
